:root {
    --dark-background: #0D0C1D;
    --orange-text: #E3790A;
}

html {
    scroll-behavior: smooth;
    font-family: 'Signika', sans-serif;
}
body {
    text-align: center;
}
.container {
    font-family: 'Signika', sans-serif;
}

header {
    background-color: var(--dark-background);
    padding: 0.5rem;
    box-shadow: 2px 2px 4px #176275;
}

#heading {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: var(--orange-text);
}
#navigation-list {
    list-style-type: none;
}
.nav-item {
    float: left;
    margin: 2rem;
}
.nav-item a {
    color: #E3790A;
    border: none;
    border-radius: 0.3rem;
}
.nav-item a:hover {
    color: white;
    z-index: 3;
    text-shadow: 3px 3px 3px #c7c1c1;
}

/**Home*/
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--dark-background);
    background-image: url('../resources/images/pizza-rosemary.jpg');
    background-size: 100%;
    height: 75vh;
    color: aliceblue;
    font-weight: 900;
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    opacity: 0.8;
}
#home p {
    font-size: 10px;
}

/**Options*/
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border-radius: 1rem; */
    background-image: linear-gradient(180deg, var(--dark-background), #63768D );
    color: aliceblue;
}
.option {
    flex: 1 200px;
    text-align: center;
    line-break: strict;
    max-width: 30rem;
    margin: 7rem;
}
.option:hover {
    cursor: pointer;
}

/**Specialty*/
.specialty {
    padding: 2rem;
    background-color: #DBF9F0;
    border: none;
}
.spec-image {
    border-radius: 100%;
}
.spec-image:hover {
    opacity: 0.6;
    transform: scale(1.1);
    cursor: pointer;
}

/*Toppings Menu*/
.topping-menu {
    background-color: #DBF9F0;
}
.toppings img {
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
}
.toppings a {
    color: aliceblue;
}

/* Order/Form */
#book {
    background-color: #DBF9F0;
    padding: 5rem;
}
#book select {
    background-color: #A8C0BD;
}

#topping-selection {
    padding: 3rem;
}

#topping-selection label {
    margin: 1rem;
}